.deposit_hero{
    background-image: url("../assets/images/holding_naira.jpg");
    background-size:cover;
    background-position-y: -40vh;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    opacity: 0.8;;
}

.deposit_form{
    width: 30%;
    margin-left: 35%;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction:column;
    background-color: white;
    box-shadow: 1px 1px 12px 4px rgb(46, 46, 46);
    padding: 1em;
}


.home_link{
    color:rgb(139, 250, 167);
    font-weight: bold;
    margin-right: 1rem;
}