.payment_history_hero{
    background-image: url("../assets/images/IMG-20221026-WA0009.jpg");
    background-size:cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
}

.comp_name{
    font-family: remachine;
    font-size: 4rem;
    width: 50%;
    color: white;
}
.nav_bar{
    width: 100%;
    height: 3em;
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    list-style-type:none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fullname_holder,.dashboard{
    display: flex;
    align-items: center;
    color: white;
}

.home_link{
    color:rgb(139, 250, 167);
    font-weight: bold;
    margin-right: 1rem;
}

.payment_lists{
    width:80%;
    height: 60%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 20%;
    overflow-y: scroll;
    list-style: none;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 3px;
}


.table_titles{
    background-color:rgb(119, 27, 180);
    height: 3.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 0.8rem;
}

.data_block:hover{
    background-color: rgb(75, 223, 124);
    color: white;
    cursor: pointer;
}

.data_block{
    background-color: white;
    color: rgb(37, 37, 37);
    height: 3em;
    font-size: 0.9rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

/* 
.data_block>.fullname:nth-child(even){
    color: rgb(224, 74, 74);
} */

.data_block:nth-child(even){
    background-color: #8866EF ;
    color: rgb(255, 255, 255);
}

.data_block:nth-child(even):hover{
    background-color: rgb(75, 223, 124);
    color: white;
    cursor: pointer;
}

.fullname,.account_number,.amount_paid,.date{
    text-align: center;
    height: 100%;
}


